{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="mb-0">My Account</h5>
                </div>
                <div class="list-group list-group-flush">
                    <a href="{{ path('app_user_profile') }}" class="list-group-item list-group-item-action active">Profile</a>
                    <a href="{{ path('app_user_addresses') }}" class="list-group-item list-group-item-action">Addresses</a>
                    <a href="{{ path('app_user_change_password') }}" class="list-group-item list-group-item-action">Change Password</a>
                    <a href="{{ path('app_order_index') }}" class="list-group-item list-group-item-action">My Orders</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">My Profile</h5>
                </div>
                <div class="card-body">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                    
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form_label(form.firstName) }}
                                {{ form_widget(form.firstName, {'attr': {'class': 'form-control' ~ (form.firstName.vars.valid ? '' : ' is-invalid')}}) }}
                                {{ form_errors(form.firstName) }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form_label(form.lastName) }}
                                {{ form_widget(form.lastName, {'attr': {'class': 'form-control' ~ (form.lastName.vars.valid ? '' : ' is-invalid')}}) }}
                                {{ form_errors(form.lastName) }}
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control' ~ (form.email.vars.valid ? '' : ' is-invalid')}}) }}
                            {{ form_errors(form.email) }}
                        </div>
                        
                        <div class="mb-3">
                            {{ form_label(form.phoneNumber) }}
                            {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control' ~ (form.phoneNumber.vars.valid ? '' : ' is-invalid')}}) }}
                            {{ form_errors(form.phoneNumber) }}
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Update Profile</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
